POSTGRES_DB=coraje
POSTGRES_USER=coraje_app
POSTGRES_PASSWORD=CAMBIA_ESTA_CLAVE_LARGA
POSTGRES_PORT=5434

N8N_HOST=IP_O_DOMINIO
N8N_PROTOCOL=http
WEBHOOK_URL=http://IP_O_DOMINIO:5678/

N8N_ENCRYPTION_KEY=CAMBIA_ESTA_CLAVE_ULTRA_LARGA_DE_32_MAS_CARACTERES